<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>Label</key>
   <string>com.germ.homeSkynet</string>

   <key>WorkingDirectory</key>
   <string>/opt/homeSkynet</string>

   <key>Program</key>
   <string>homeSkynet</string>

   <key>RunAtLoad</key>
   <true/>

   <key>KeepAlive</key>
   <true/>

   <key>StandardOutPath</key>
   <string>/Library/Logs/com.germ.homeSkynet.out.log</string>

   <key>StandardErrorPath</key>
   <string>/Library/Logs/com.germ.homeSkynet.err.log</string>
</dict>
</plist>
